
.hero_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 1000px;
}
.header{
  padding:28px 48px;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height:82px ;
}
.logo{
  
  display: flex;
  align-items:flex-end;
  
  &__circle{ 
    position: relative;
    height: 29px;width: 29px;
    border-radius: 50%;
    background: #FFDDD7;
    margin-right: 7px;
    &:before{
      content:'';
      position: absolute;
      background: #FF6743;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      bottom: -6px;
      right: -1px;
    }
  }
  &__img{
    height: 20px;width: 70px;
  }
}
.menu{
margin-left: auto;
&__list{
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
&__item{
  position: relative;
  margin-right: 40px;
  &::after{
    content:'';
    background-image: url('../img/SVG/Arrow-down.svg');
    background-repeat: no-repeat;
    width: 10px;
    height: 18px;
    position: absolute;
    right: -11px;
    bottom: -2px;
    opacity: 0; 
  }
  &:hover:after{
    opacity:1;
  }
}
&__link{
  font-weight: bold;
}}
.btn{
  color: #fff;
  padding: 16px 24px;
  background-color: #007188;
  border-radius: 5px;
  cursor: pointer;
}
/////
.heroContent{
  height: 918px;
  background: #FFF3F1;
  margin-bottom: 80px;

  }

.heroContent__container{
  display: flex;
  position: relative;
  height: 100%;
  
  //display: flex;
  //flex-direction: column;
  // align-items:flex-start;
   &::after{
     content:'';
     position: absolute;
     left: 50%;
     border: 918px solid transparent;
     border-left: 38px solid  #FFF3F1;
     border-bottom: 0px solid transparent;
     border-right: 0px solid transparent;
     width: 0;
     height: 0;

  } 
}
.heroContent__text-section{
  position: relative;
  width: 50%;
  padding: 130px 34px 170px 135px   ;
  
 
}
.heroContent__title{
  max-width: 500px;
  font-size: 72px;
  line-height: 71px;
  margin-bottom: 43px;
}
.heroContent_description{
  font-size: 21px;
  max-width: 560px;
  line-height: 34px;
  margin-bottom: 35px;
}
.form-email{
  position: relative;
  max-width: 450px;
  max-height: 82px;
  border-radius: 200px;
  background: #FFFFFF;
  margin-bottom: 40px;
  
}
.email-enter{
  display: block;
  width: 100%;
  padding: 24px 0 24px 37px;
  border-width: 0;
  border-radius: 200px;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
}
.email-sent{
  position: absolute;
  padding: 17px 34px;
  right: 8px;
  top: 6px;
 background: #007188;
border-radius: 200px;
font-weight: 500;
font-size: 18px;
line-height: 34px;
color: #FFFFFF;
cursor: pointer;
}
.advantages{
  
  &__items{
    position: relative;
    padding: 7px 34px;
    background: #FFDDD7;
    width: 440px;
    height: 35px;
    border-radius: 400px / 40px;
    &::after{
      content:'';
      width: 143px;
      height: 9.6px;
      position: absolute;
      background-image: url('../img/SVG/Path.svg');
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.heroContent__img{
  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/////
.section-benefit{
  margin-bottom: 83px;
}
.benefit{
  padding: 0 127px;
  margin-bottom: 85px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
   font-size: 48px;
  &__improvements{
    text-align: center;
  }
  &__improvements-range{
    font-weight: 700;
    font-size: 24px;
    margin-left: -10px;
  }
  &__improvements-desc{
    font-weight: 500;
    font-size: 15px;
  }
}
.stage{
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 115px 130px;
  background-image: url(../img/background/pink.png);
  background-repeat: no-repeat;
  background-position:center;
  position: relative;
  &:before{
    content:'';
    width: 180px;height: 110px;
    position: absolute;
    right: 40px;
    bottom: -38px;
    background-image: url(../img/decor/Promo-decorative-arrow.png);
    background-repeat: no-repeat;
    
  }}
  .title-two{
    font-weight: 700;
    font-size: 52px;
    text-align: left;
  }
  .stage__title{
    max-width: 450px;
    margin: 0 auto 70px;
  }

.stages{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  position: relative;

  &__item{
    
  &-number{
    margin: 0 auto;
    font-size: 20px;
    position: relative;
    width: 62px;height: 62px;
    background-image: url(../img/background/Oval.svg);
    background-repeat: no-repeat;
    background-position:center;
    margin-bottom: 30px;
    p{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  &-desc{
    max-width: 215px;
    font-weight: 300px;
    font-size: 21px;
    line-height: 29.12px;
  }
}
}
//////
.career{
  margin-bottom: 77px;
}
.career-container{
  padding: 0 150px;
  display: flex;
  //align-items: start;
}
.career__wrapper-img{
width: 570px;
height: 668px;
flex: 1 0 570px;
}
.career__img{
  width: 100%;
  height: 100%;
}
.career__item{
  align-self: center;
  
}
.career__margin-left{
  margin-left:80px ;
}
.career__margin-right{
  margin-right:80px ;
}
.career__title{
  margin-bottom: 27px;
  text-align: left;
}
.career__desc{
  width: 400px;
  p{
    font-weight: 300;
    font-size: 21px;
    line-height: 33.6px;
  }
  margin-bottom: 30px;
}
.career__book{
  display: inline-block;
  padding-bottom: 5px;
  color: #007188;
  font-weight: 500;
  font-size: 19px;
  border-bottom: 2px solid #007188;
}
///////
.insights{
  background-color:#F4F9F9;
  &-container{
    padding: 160px 165px;
  }
  &__title{
    text-align: center;
    margin-bottom: 36px;
  }
}
.insights_items{
  display: flex;
  margin-bottom: 60px;
}
.insights_item{
  max-width: 350px;
  margin-right: 30px;
  &:last-child{
    margin-right: 0;
  }
}
.insights__image-wrapper{
  max-width: 350px;
  max-height: 300px;
}
.insights__image-wrapper{
  width: 100%;
}
.insights__desc{
  background-color: #fff;
  padding:28px 42px 30px 30px ;
}
.insights__desc-title{
  font-weight: 700;
  text-transform: uppercase;
  color: #FC9C25;
  font-size: 13px;
  margin-bottom: 13px;
}
.insights__text{
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 66px;
}
.insights__data{
  font-size: 16px;
  color: #909C9D;
}
.insights__link{
  padding: 17px 24px 23px;
  background: #007188;
  color: #FFFFFF;
  border-radius:10px;
  margin-left: auto;
    margin-right: auto

}
.insights__link-wrapper{
  display: flex;
}
////
.career__engagement{
margin-bottom: 160px;
}
/////
.reviews{
  background: #F4F9F9;
  padding: 155px 180px 160px ;
}
.reviews-container{
  width: 1140px;
  margin: 0 auto;
}
.reviews__title{
  position: relative;
  text-align: center;
  width: 342px;
  margin: 0 auto;
  line-height: 56px;
  margin-bottom: 82px;
  &:after{
    content:'';
    position: absolute;
    background-image:url(../img/SVG/arrow.svg);
    background-repeat: no-repeat;
    width: 104px;
    height: 104px;
    bottom: -60%;
    left: 30%;
  }
}
.reviews__wrapper{
  column-count: 2;
  column-gap: 31px;
}
.reviews__item{
  display: inline-flex;
  flex-direction: column;
  background-image: url(../img/background/white.svg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  padding: 62px 72px 60px 60px ;
  margin-bottom: 30px;
}
.reviews__rating{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.star{
  margin-right: 7px;
  :last-child{
    margin-right: 0;
  }
}
.reviews__desc{
  font-weight: 300;
  font-size: 28px;
  line-height: 40.3px;
  margin-bottom: 35px;
}
.author{
  display: flex;
  align-items:center;
}
.author__photo{
  margin-right: 14px;
  width: 64px;height: 64px;
  overflow: hidden;
}
.autor__photo-img{
  width: 100%;
    height: 100%;
    object-fit: cover;
}
.author__mame{
  font-weight: 700;
  margin-bottom: 5px;
}
.author__work{
  font-size: 12px;
  color: #818788;
}
//////
.subscription{
  background: #F4F9F9;
  background-image: url(../img/background/blue.png);
  background-position: bottom ;
  //background-size:cover;
  background-repeat: repeat-x;
  padding: 118px 0 150px;
}
.subscription-container{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 0 140px;
  text-align: center;
}
.subscription__inscription{
  font-size: 12px;
  color: #F7FAFF;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.subscription__title{
  color: #FFC8C8;
  text-align: center;
  margin-bottom: 45px;
}
.subscription-form{
  min-width: 803px;
}
/////
.footer-container__content{
  padding: 100px  150px 80px 200px;
  display: flex;
  height: 695px;
  align-items: start;
}
.footer__logo{
  margin-right: 167px;
}
.footer{
  display: inline-flex;
  flex-direction: column;
}
.footer_row{
  display: flex;

}
.footer_row-one{
  margin-bottom: 134px;
}
.footer__columns{
  display: flex;
}
.footer__column{
  display: flex;
  flex-direction: column;
  margin-right: 190px;
  &:last-child{
    margin-right: 0;
  }
}
.footer__colum-title{
  font-size: 13px;
  margin-bottom: 8px;
}
.footer__link{
  font-size: 18px;
  margin-bottom: 10px;
 &::after{
   content:url(../img/SVG/icon.svg);
   margin-left: 5px;
   
 }
}



